@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--tt-norms);
}

.video-dynamic-height-100dvh {
  height: calc(100vh - 115px);
  height: calc(100dvh - 115px);
}

@media (max-width: 768px) {
  .video-dynamic-height-100dvh {
    height: calc(100vh - 99px);
    height: calc(100dvh - 99px);
  }
}

@media (max-width: 640px) {
  .video-dynamic-height-100dvh {
    height: calc(100vh - 82px);
    height: calc(100dvh - 82px);
  }
}
